@import '../../../shared/shared';
.team-holder {
    padding: 0.3rem 1rem;
    .team-logo {
        img {
            max-width: 80%;
            height: auto;
            max-height: 40px;
            margin-right: 20%;
        }
    }
}

table-team {
    &:nth-child(odd) {
        .team-holder {
            background-color: darken($lightColor, 5%);
        }
    }
}