<main>
    <div>
        <div class="title-holder container-fluid row middle-xs no-padding">
            <button class="strokes col-xs-4 end-xs" ng-click="$ctrl.seePreviousFixtures()" ng-disabled="$ctrl.hideLeftArrow">{{$ctrl.previousFixturesTitle}}</button>
            <h1 class="title col-xs-4 center-xs">{{$ctrl.currentFixturesTitle}}</h1>
            <button class="strokes col-xs-4 start-xs" ng-click="$ctrl.seeNextFixtures()" ng-disabled="$ctrl.hideRightArrow">{{$ctrl.nextFixturesTitle}}</button>
        </div>
        <league ng-repeat="league in $ctrl.allLeagues track by $index" league="league" time-frame-key="$ctrl.timeFrameKey"></league>
    </div>
</main>