@import '../shared/shared';
.title-holder {
    color: $primaryColor;
    margin: 2rem auto 0 auto;
    .title {
        font-size: 1.1rem;
    }
    .strokes {
        font-size: 1.1rem;
        background: none;
        outline: none;
        border: none;
        &:disabled {
            color: $darkColor;
        }
    }
}