    @import '../shared/shared';
    .team-details {
        background: url('../../img/fixture-background-filter.jpg') no-repeat center bottom;
        width: 100%;
        height: auto;
        min-height: 250px;
        background-size: cover;
        margin: 0 3%;
        padding: 1rem 0;
        width: 94%;
        color: $lightColor;
        box-shadow: 1px 1px 2px $primaryColor;
        border-radius: 2px;
        .team-logo {
            width: 40%;
        }
        .team-name,
        .team-value {
            font-size: 2.2rem;
            padding-top: 1rem;
            color: $lightColor;
        }
    }
    
    .team-players {
        font-size: 1rem;
        padding-bottom: 1rem;
        .player {
            &:nth-child(odd) {
                background-color: darken($lightColor, 5%);
            }
        }
    }