<div class="livescore-holder team-details container column center-xs">
    <img class="team-logo" ng-src="{{$ctrl.teamDetails.crestUrl}}" alt="team-logo">
    <div class="team-name">{{$ctrl.teamDetails.name}}</div>
    <div class="team-value">{{$ctrl.teamDetails.squadMarketValue}}</div>
</div>
<div class="livescore-holder team-players">
    <h2 class="livescore-title">Players</h2>
    <div class="container-fluid row">
        <div class="col-xs-3 col-sm-1 center-sm no-padding">Num</div>
        <div class="col-xs-5 col-sm-3 no-padding">Name</div>
        <div class="col-xs-4 col-sm-2 no-padding">Position</div>
        <div class="col-xs-3 col-sm-2 no-padding">Nationality</div>
        <div class="col-xs-5 col-sm-2 no-padding">Date of birth</div>
        <div class="col-xs-4 col-sm-2 no-padding">Market value</div>
    </div>
    <div class="container-fluid row player" ng-repeat="player in $ctrl.players.players | orderBy:'jerseyNumber'">
        <div class="col-xs-3 col-sm-1 center-sm no-padding">{{player.jerseyNumber}}</div>
        <div class="col-xs-5 col-sm-3 no-padding">{{player.name}}</div>
        <div class="col-xs-4 col-sm-2 no-padding">{{player.position}}</div>
        <div class="col-xs-3 col-sm-2 no-padding">{{player.nationality}}</div>
        <div class="col-xs-5 col-sm-2 no-padding">{{player.dateOfBirth | date}}</div>
        <div class="col-xs-4 col-sm-2 no-padding">{{player.marketValue}}</div>
    </div>
</div>
<div class="livescore-holder team-fixtures">
    <h2 class="livescore-title">Fixtures</h2>
    <fixture class="fixture-holder container-fluid row" ng-repeat="fixture in $ctrl.fixtures" fixture="fixture"></fixture>
</div>